.twidget-passengers {
  &-detail {
    height: 50px;
    padding: 7px 14px;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    &.active {
      border-color: #fdd835;
      &:after {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
      }
    }
    .twidget-pas-no {
      color: #424242;
      line-height: 20px;
    }
    .twidget-class {
      color: #999;
      font-size: 13px;
      line-height: 18px;
    }
    &:after {
      background-image: url('./images/arrow-down.svg');
      background-repeat: no-repeat;
      width: 15px;
      height: 12px;
      background-position: 0 0;
      content: "";
      top: 19px;
      right: 11px;
      position: absolute;
      background-size: 15px;
    }
  }

  

  &-ready-button-wrapper {
    vertical-align: middle;
    text-align: center;
    display: block !important;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &-ready-button {
    display: inline-block;
    padding: 0 30px;
    font-size: 13px;
    line-height: 43px;
    border: 1px solid #ffa600 !important;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
    color: #ffa600;
    cursor: pointer;
    clear: both;
    &:hover {
      border-color: #ffaf1a;
      color: #ffaf1a;
    }
  }

  label {
    color: white;
    position: relative;
    top: -4px;
    font-size: 12px;
    display: block;
  }

  .dropdown-menu {
    width: 270px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .twidget-age-group {
      display: table;
      width: 100%;
      padding: 0;
      li {
        display: table-row;
        .twidget-cell {
          display: table-cell;
          height: 44px;
          vertical-align: middle;
        }
        .twidget-age-name {
          padding-left: 20px;
          width: 50%;
        }
        .twidget-age-select {
          padding-right: 10px;
          width: 40%;
        }
      }
    }
    .twidget-age-select {
      .twidget-dec {
        width: 35px;
        height: 35px;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
        border-radius: 25px;
        line-height: 35px;
        background: #fff 50% 50%/14px no-repeat;
        background-image: url('./images/minus.svg');
        &:hover {
          background-color: #e0e0e0;
        }
      }
      .twidget-num {
        width: 30%;
        text-align: center;
        line-height: 1.4;
        display: inline-block;

      }
      .twidget-inc {
        width: 35px;
        height: 35px;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
        border-radius: 25px;
        line-height: 35px;
        background: #fff 50% 50%/14px no-repeat;
        background-image: url('./images/plus.svg');
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
    .twidget-pas-class {
      margin-top: 5px;
      border-top: 1px solid #e0e0e0;

      .twidget-pass-check {
        margin-top: 11px;
        padding-left: 20px;
        input[type="checkbox"] {
          display: none;
        }
        label {
          line-height: 16px;
          cursor: pointer;
          position: relative;
          padding-left: 24px;
          display: inline-block;
          color: #424242;
          font-size: 14px;
          &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border: 1px solid #00b1dd;
          }
        }
        input[type="checkbox"]:checked + label:before, &-checked label:before {
          background: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.5%206%22%3E%3Cstyle%3E.st0%7Bfill%3A%2300B9FF%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M8.5%201.1L7.4%200%203.6%203.8%201.1%201.3%200%202.4%203.6%206z%22%2F%3E%3C%2Fsvg%3E') no-repeat 50% 50%;
          background-size: 12px;
        }
      }
    }
  }

}

/**Popup rooms persons**/
#searchFormLight {
    min-width: 300px;
}

#searchFormLight {
    background: #fff;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 30px rgba(0,0,0,0.15);
    top: 100%;
    width: 100%;
    margin-top: 0px;
    z-index: 1001;
    border-radius: 3px;
}

#searchFormLight .modifPopinCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: 0;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: #c5cad1;
    font-size: 26px;
}
#searchFormLight .modifPopinTitle, .formLightDatePick .modifPopinTitle {
    color: #ffa600;
    border-bottom: 1px solid #ffa600;
    padding: 16px 0 14px 7px;
    border-radius: 0;
    font-size: 18.24px;
    text-align: left;
}
#searchFormLight *, #searchFormLight ::before, #searchFormLight ::after, #ui-datepicker-div.formLightDatePick *, #ui-datepicker-div.formLightDatePick ::before, #ui-datepicker-div.formLightDatePick ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#searchFormLight, #searchFormLight + #mapDestination {
    font-family: 'Arial',sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
}

#searchFormLight #paxPopinScrollDiv, .labelPolicies, .loadingCancelFees, .contractRemarkClass, .tablePrix {
    font-size: 14px;
}
#searchFormLight #paxPopinScrollDiv {
    overflow: auto;
}
#searchFormLight .contentForm {
    text-align: left;
    color: #888;
}
#searchFormLight .formSection {
    border-bottom: 1px solid #e6e8ea;
}
#searchFormLight .modifPopinContent {
    padding: 10px;
}
#searchFormLight .displayTable {
    display: table;
    width: 100%;
}
#searchFormLight .modifPopinContent .formPopinLine > div {
    vertical-align: middle;
}
#searchFormLight .displayTable > * {
    display: table-cell;
}
#searchFormLight .formPopinLine label {
    margin: 0;
    font-size: 14px;
    color: #64686c;
    font-weight: normal;
}
#searchFormLight #paxPopinScrollDiv span {
    font-size: 16px;
}
#searchFormLight .modifPopinContent .formPopinLine > div {
    vertical-align: middle;
}
#searchFormLight .plusMinusForm {
    text-align: right;
    white-space: nowrap;
}
#searchFormLight .displayTable > * {
    display: table-cell;
}
#searchFormLight * {
    font-size: 16px;
}
#searchFormLight button[disabled], #searchFormLight html input[disabled] {
    cursor: default;
}
#searchFormLight .plusMinusForm button {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    line-height: 30px;
    color: #c5cad1;
}
#searchFormLight .formCountDiv {
    color: #888;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 22px
}
#searchFormLight .plusMinusForm button.active {
    color: #64686c;
}
#searchFormLight .plusMinusForm button {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    font-size: 26px;
    color: #c5cad1;
}
#searchFormLight .formSection {
    border-bottom: 1px solid #e6e8ea;
}
#searchFormLight * {
    font-size: 16px;
}
#searchFormLight .formPopinLine label {
    font-size: 14px;
    color: #64686c;
    font-weight: normal;
}
#searchFormLight .plusMinusForm button {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    line-height: 30px;
    color: #c5cad1;
}
#searchFormLight .plusMinusForm > * {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#searchFormLight button, #searchFormLight html input[type="button"], #searchFormLight input[type="reset"], #searchFormLight input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
#searchFormLight button, #searchFormLight select {
    text-transform: none;
}
#searchFormLight button {
    overflow: visible;
}

#searchFormLight button {
    background: #00b1dd ;
}

#searchFormLight .childrenAgeDiv {
    background: #f2f4f7;
}
#searchFormLight .modifPopinContent {
    padding: 10px;
}
#searchFormLight .modifPopinContent p {
    margin: 0 0 5px;
}
#searchFormLight .labelAgeschild {
    color: #64686c;
    font-weight: bold;
    font-size: 14px;
}
#searchFormLight .displayTable {
    display: table;
    width: 100%;
}
#searchFormLight * {
    font-size: 16px;
    box-sizing: border-box;
}
#searchFormLight .modifPopinContent .formPopinLine > div {
    vertical-align: middle;
}
#searchFormLight .displayTable > * {
    display: table-cell;
}
#searchFormLight .selectPopinForm, #searchFormLight .selectPopinForm .customSelect {
    width: 80px;
}

#searchFormLight .formPopinLine {
  margin-bottom: 2px
}