<div class="twidget-dep-date twidget-form-item ng-isolate-scope">
  <div class="twidget-input-box"> 
    <label class="ng-binding">Depart date</label> 
    <div class="twidget-input-box-show-popup"> 
      <input type="text">
        <div class="twidget-icon-cal"></div>
          <span class="twidget-date-text twidget-date-depart">Depart date</span> 
          <span class="twidget-date-text twidget-date-depart ng-hide d-none">18 January, Fri</span> 
        </div> 
  </div> 
</div> 

<div class="twidget-dep-date twidget-form-item ng-isolate-scope">
  <div class="twidget-input-box"> 
    <label class="ng-binding">Return date</label>
    <div class="twidget-input-box-show-popup">
      <input type="text">
        <div class="twidget-icon-cal"></div>
          <span class="twidget-date-text twidget-date-depart">Return date</span>
          <span class="twidget-date-text twidget-date-depart ng-hide d-none">25 January, Fri</span>
        </div>
  </div> 
</div> 